.date-filter {
  position: absolute;
  top: 0;
  left: 50%;
  width: 320px;
  transform: translateX(-50%);
  background: rgba(255, 255, 255, 0.9);
  z-index: 99;
}

.date-filter__inner {
  display: flex;
  padding: 30px;
}
