body, html, #root {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

@import 'containers/app.scss';

@import 'components/map/map.scss';
@import 'components/overlay/overlay.scss';
@import 'components/date-filter/date-filter.scss';
